.turningPerson {
  position: relative;
  display: inline-block;
  background-color: white;
}

.personAndArrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personShrink {
  transform: scale(0.15);
  transform-origin: 0% 0%;
  transition: transform 0.5s ease-in;
}
.personShrunk {
  transform: scale(0.15);
  transform-origin: 0% 0%;
}

.personGrow {
  transform: scale(1);
  transform-origin: 0% 0%;
  transition: transform 0.5s ease-out;
}

.turnButton {
  font-size: 5rem;
  cursor: pointer;
  transform: scaleX(300%) translateX(-10%) rotateX(50deg) rotateY(180deg)
    rotateZ(0deg);
  transition: transform 1s linear;
}

.turnButtonTurned {
  transform: scaleX(300%) translateX(-10%) rotateX(50deg) rotateY(180deg)
    rotateZ(360deg);
  transition: transform 1s linear;
}

.image {
  height: 80vh;
  transform: rotateY(0deg);
  transition: transform 1s ease-in;
  cursor: pointer;
}

.flipSideways {
  transform: rotateY(180deg);
  transition: transform 1s ease-in;
}
